html, body {
    height: 100%;
    margin: 0;
  }
  
  .container-fluid {
    height: 100%;
  }
  
  .row {
    height: 100%;
  }
  
  .col-md-3 {
    display: flex;
    flex-direction: column;
  }
  
  .col-md-3 .p-3 {
    flex: 1;
  }
  
  .content-below-sidebar {
    flex: 1;
    overflow-y: auto;
  }
  
  .col-md-9 {
    overflow-y: auto;
  }
  