

.bg-white {
  background-color: white !important;
}

.p-3 {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p-4 {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 20%;
  max-width: 600px;
}

.main-content {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding-bottom: 20px;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}
