<div class="container-fluid">
  <div class="row justify-content-center">
    <div>
      <div class="row">
        <!-- Sidebar -->
        <div class="col-sm-3">
          <div class="p-3 bg-light rounded shadow">
            <h3 class="mb-4">GUIA ODS</h3>
            <ul class="list-unstyled">
              <li class="mb-3"><a href="/guiaods/#id1">¿QUÉ SON?</a></li>
              <li class="mb-3"><a href="/guiaods/#id2">Agenda 2030</a></li>
              <li class="mb-3">
                <a href="/guiaods/#id3"
                  >17 objetivos de desarrollo sostenible</a
                >
              </li>
              <li class="mb-3"><a href="/guiaods/#id4">Datos básicos</a></li>
              <li class="mb-3">
                <a href="/guiaods/#id5">Enlaces de interés</a>
              </li>
              <li class="mb-3"><a href="/guiaods/#id6">Imágenes</a></li>
              <li class="mb-3"><a href="/guiaods/#id7">Vídeos</a></li>
            </ul>
            <a href="#">Ayuda</a>
          </div>
        </div>

        <!-- Main Content -->
        <div class="col-sm-9">
          <div class="main-content p-3 bg-light rounded shadow">
            <h2 id="id1">¿QUÉ SON?</h2>
            <p>
              Los Objetivos de Desarrollo Sostenible (ODS) son un conjunto de 17
              metas globales establecidas por la Asamblea General de las
              Naciones Unidas en 2015 como parte de la Agenda 2030 para el
              Desarrollo Sostenible. Estos objetivos se diseñaron para abordar
              los desafíos más apremiantes que enfrenta el mundo, incluyendo la
              pobreza, la desigualdad, el cambio climático, la degradación
              ambiental, la paz y la justicia. Los ODS son universales y
              aplicables a todos los países, independientemente de su nivel de
              desarrollo económico. Cada objetivo cuenta con metas específicas
              que deben alcanzarse para 2030, fomentando una acción conjunta de
              gobiernos, empresas, sociedad civil y ciudadanos para crear un
              mundo más sostenible y equitativo. Los ODS también buscan promover
              la prosperidad económica mientras protegen el planeta, asegurando
              que todas las personas puedan disfrutar de paz y prosperidad.
            </p>

            <img
              src="https://via.placeholder.com/150"
              alt="Placeholder Image"
              class="img-fluid rounded"
            />
          </div>
          <div class="main-content p-3 bg-light rounded shadow" id="agenda2030">
            <h2 id="id2">AGENDA 2030</h2>
            <p>
              La Agenda 2030 para el Desarrollo Sostenible es un plan de acción
              adoptado por los 193 Estados Miembros de las Naciones Unidas en
              septiembre de 2015. Este plan tiene como objetivo principal
              erradicar la pobreza en todas sus formas y dimensiones, algo que
              se considera un requisito indispensable para el desarrollo
              sostenible. La Agenda 2030 está compuesta por 17 Objetivos de
              Desarrollo Sostenible (ODS) y 169 metas específicas, que abordan
              cuestiones como la pobreza, la desigualdad, la salud, la
              educación, el cambio climático, la igualdad de género, el agua
              limpia y el saneamiento, entre otros. Estos objetivos están
              interconectados y buscan equilibrar las tres dimensiones del
              desarrollo sostenible: la económica, la social y la ambiental. La
              Agenda 2030 es una llamada a la acción para todos los países,
              fomentando la colaboración internacional y el compromiso colectivo
              para lograr un futuro sostenible para todos.
            </p>

            <img
              src="https://via.placeholder.com/150"
              alt="Placeholder Image"
              class="img-fluid rounded"
            />
          </div>
          <div class="main-content p-3 bg-light rounded shadow" id="id3">
            <h2>17 OBJETIVOS DE DESARROLO SOSTENIBLE</h2>
            <ol>
              <li>
                Fin de la pobreza: Erradicar la pobreza en todas sus formas en
                todo el mundo. Hambre cero: Poner fin al hambre, lograr la
                seguridad alimentaria y la mejora de la nutrición, y promover la
                agricultura sostenible.
              </li>
              <li>
                Salud y bienestar: Garantizar una vida sana y promover el
                bienestar para todos en todas las edades.
              </li>
              <li>
                Educación de calidad: Garantizar una educación inclusiva,
                equitativa y de calidad, y promover oportunidades de aprendizaje
                durante toda la vida para todos.
              </li>
              <li>
                Igualdad de género: Lograr la igualdad entre los géneros y
                empoderar a todas las mujeres y niñas.
              </li>
              <li>
                Agua limpia y saneamiento: Garantizar la disponibilidad de agua
                y su gestión sostenible y el saneamiento para todos.
              </li>
              <li>
                Energía asequible y no contaminante: Garantizar el acceso a una
                energía asequible, segura, sostenible y moderna para todos.
              </li>
              <li>
                Trabajo decente y crecimiento económico: Promover el crecimiento
                económico sostenido, inclusivo y sostenible, el empleo pleno y
                productivo, y el trabajo decente para todos.
              </li>
              <li>
                Industria, innovación e infraestructura: Construir
                infraestructuras resilientes, promover la industrialización
                inclusiva y sostenible, y fomentar la innovación.
              </li>
              <li>
                Reducción de las desigualdades: Reducir la desigualdad en y
                entre los países.
              </li>
              <li>
                Ciudades y comunidades sostenibles: Lograr que las ciudades y
                los asentamientos humanos sean inclusivos, seguros, resilientes
                y sostenibles.
              </li>
              <li>
                Producción y consumo responsables: Garantizar modalidades de
                consumo y producción sostenibles.
              </li>
              <li>
                Acción por el clima: Adoptar medidas urgentes para combatir el
                cambio climático y sus efectos.
              </li>
              <li>
                Vida submarina: Conservar y utilizar de forma sostenible los
                océanos, los mares y los recursos marinos para el desarrollo
                sostenible.
              </li>
              <li>
                Vida de ecosistemas terrestres: Gestionar sosteniblemente los
                bosques, luchar contra la desertificación, detener e invertir la
                degradación de las tierras, y detener la pérdida de
                biodiversidad.
              </li>
              <li>
                Paz, justicia e instituciones sólidas: Promover sociedades
                pacíficas e inclusivas para el desarrollo sostenible, facilitar
                el acceso a la justicia para todos, y construir instituciones
                eficaces, responsables e inclusivas a todos los niveles.
              </li>
              <li>
                Alianzas para lograr los objetivos: Fortalecer los medios de
                implementación y revitalizar la Alianza Mundial para el
                Desarrollo Sostenible.
              </li>
            </ol>

            <img
              src="https://via.placeholder.com/150"
              alt="Placeholder Image"
              class="img-fluid rounded"
            />
          </div>
          <div class="main-content p-3 bg-light rounded shadow" id="id4">
            <h2>DATOS BÁSICOS</h2>
            <p>
              Los ODS incluyen 169 metas específicas y más de 230 indicadores
              para medir el progreso hacia su consecución. Aproximadamente 736
              millones de personas aún viven en la pobreza extrema,
              sobreviviendo con menos de 1.90 dólares al día. La tasa de
              malnutrición mundial sigue siendo alarmante, afectando a alrededor
              de 821 millones de personas. Cada año, alrededor de 5.9 millones
              de niños menores de cinco años mueren, y más de 264 millones de
              niños y jóvenes no asisten a la escuela. En términos de igualdad
              de género, las mujeres representan solo el 39% de la fuerza
              laboral mundial, aunque realizan una cantidad desproporcionada de
              trabajo no remunerado. En el ámbito del medio ambiente, se estima
              que 7 millones de personas mueren anualmente debido a la
              contaminación del aire, y solo el 9% de todo el plástico producido
              se ha reciclado. Estos datos subrayan la urgencia y la escala de
              los desafíos que los ODS buscan abordar.
            </p>

            <img
              src="https://via.placeholder.com/150"
              alt="Placeholder Image"
              class="img-fluid rounded"
            />
          </div>
          <div class="main-content p-3 bg-light rounded shadow" id="id5">
            <h2>ENLACES DE INTERÉS</h2>
            <ol>
              <li><a href="https://www.un.org/sustainabledevelopment/es/">Naciones Unidas - Objetivos de Desarrollo Sostenible</a></li>
              <li>Programa de las Naciones Unidas para el Desarrollo (PNUD)</li>
              <li>Agenda 2030 en España</li>
              <li>UNICEF - Objetivos de Desarrollo Sostenible</li>
              <li>Banco Mundial - ODS</li>
              <li>Organización Mundial de la Salud (OMS) - ODS</li>
              <li>UNESCO - Educación 2030</li>
              <li>FAO - Objetivos de Desarrollo Sostenible</li>
              <li>OCDE - Objetivos de Desarrollo Sostenible</li>
              <li>Pacto Mundial de Naciones Unidas</li>
              <li>ONU Mujeres - Igualdad de Género</li>
              <li>Informe de Sostenibilidad Global</li>
              <li>Foro Económico Mundial - ODS</li>
              <li>Eurostat - Seguimiento de los ODS</li>
              <li>Consejo Internacional de Ciencia - ODS</li>
            </ol>

            <img
              src="https://via.placeholder.com/150"
              alt="Placeholder Image"
              class="img-fluid rounded"
            />
          </div>
          <div class="main-content p-3 bg-light rounded shadow" id="id6">
            <h2>IMÁGENES</h2>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>

            <img
              src="https://via.placeholder.com/150"
              alt="Placeholder Image"
              class="img-fluid rounded"
            />
          </div>
          <div class="main-content p-3 bg-light rounded shadow" id="id7">
            <h2>VIDEOS</h2>
            <p>
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>

            <img
              src="https://via.placeholder.com/150"
              alt="Placeholder Image"
              class="img-fluid rounded"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
