body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.bg-light {
  background-color: #eaf7f7;
}

.p-3 {
  padding: 1rem !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

a img {
  cursor: pointer;
}

a img:hover {
  opacity: 0.8; /* Slightly dim the image on hover */
}

.custom-card {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 20px; /* Añade padding para un espacio interior */
  margin: 10px; /* Márgenes entre tarjetas */
}

h5, h3 {
  color: #4caf50; /* Color del texto */
  font-weight: bold;
}

p, label {
  color: #333; /* Color del texto */
}

.form-control {
  border: 1px solid #4caf50; /* Borde del input */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 10px; /* Espacio inferior entre campos */
}

.custom-btn {
  background-color: #4caf50; /* Color de fondo del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Ajustar el tamaño del botón */
  font-size: 16px; /* Ajustar el tamaño del texto */
  width: auto; /* Asegura que el botón se ajuste a su contenido */
}

.custom-btn:hover {
  background-color: #45a049; /* Color de fondo del botón al pasar el ratón por encima */
}

.no-margin {
  margin: 0; /* Elimina el margen */
}

.container-fluid.no-padding {
  padding: 0; /* Elimina el padding */
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  flex-direction: column;
}

.image-container img {
  border-radius: 50%;
  transition: opacity 0.3s;
}

.image-container:hover img {
  opacity: 0.7;
}

.change-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .change-image-text {
  opacity: 1;
  cursor: pointer;
}

.user-info {
  text-align: center;
}

.list-unstyled {
  padding-left: 0;
}

.list-unstyled li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.list-unstyled li a {
  color: #333;
  text-decoration: none;
}

.list-unstyled li a:hover {
  text-decoration: underline;
}

.list-unstyled li i {
  margin-right: 5px;
}
