#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 20px from the right */
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  width: 150px; /* Adjust width */
  height: 150px; /* Adjust height */
}

#scrollToTopBtn:hover {
  opacity: 0.8; /* Slight opacity change on hover */
}

