body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h3 {
  margin-bottom: 20px;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.custom-card {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.text-center h3 {
  color: #4caf50; /* Color del texto */
  font-weight: bold;
}

.text-center p {
  color: #333; /* Color del texto */
}

.form-control {
  border: 1px solid #4caf50; /* Borde del input */
  border-radius: 0; /* Sin bordes redondeados */
}

.custom-btn {
  background-color: #4caf50; /* Color de fondo del botón */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Ajustar el tamaño del botón */
  font-size: 16px; /* Ajustar el tamaño del texto */
  width: auto; /* Asegura que el botón se ajuste a su contenido */
}

.custom-btn:hover {
  background-color: #45a049; /* Color de fondo del botón al pasar el ratón por encima */
}

.forgot-password {
  color: #4caf50; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}

.forgot-password:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón por encima */
}

.form-group label {
  color: #333; /* Color del texto */
}

.min-vh-100 {
  min-height: 100vh;
}
