<div class="container mt-5">
  <div class="row">
    <!-- Columna izquierda: Ranking según el grupo -->
    <div class="col-md-6">
      <div class="p-3 bg-light custom-card">
        <h5>RANKING MIEMBROS</h5>
        <div class="progress-bar-container">
          <div *ngFor="let member of getRanking()" class="progress-bar">
            <span
              [style.width.%]="(getUserPoints(member) / getMaxPoints()) * 100"
            >
              {{ member }} - {{ getUserPoints(member) }}
            </span>
          </div>
        </div>
        <br />
        <h5>VERDECITOS TOTALES GRUPO</h5>
        <p>{{ getTotalGroupPoints() }} Verdecitos</p>
      </div>
    </div>

    <!-- Columna derecha: Ranking según el código postal -->
    <div class="col-md-6">
      <div class="p-3 bg-light custom-card">
        <h5>RANKING USUARIOS - CÓDIGO POSTAL</h5>
        <div class="progress-bar-container">
          <div *ngFor="let cpUser of getLocRanking()" class="progress-bar">
            <span
              [style.width.%]="
                (getUserLocPoints(cpUser) / getMaxLocPoints()) * 100
              "
            >
              {{ cpUser }} - {{ getUserLocPoints(cpUser) }}
            </span>
          </div>
        </div>
        <br />
        <h5>VERDECITOS TOTALES GRUPO</h5>
        
        <p>{{ getTotalLocationPoints() }} Verdecitos</p>
      </div>
    </div>
  </div>
</div>
