<div class="container-fluid custom-container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-4">
      <div class="text-center mb-4">
        <p>
          Bienvenidos a la web de gamificación de ODS. Donde a través de los
          retos propuestos podrás proteger el planeta y mejorar las vidas y las
          perspectivas de las personas de todo el mundo.
        </p>
      </div>
      <div class="card mt-5 custom-card">
        <div class="card-body">
          <h3 class="card-title text-center">USER LOGIN</h3>
          <form>
            <div class="form-group">
              <label for="email" class="visually-hidden">Email</label>
              <div class="input-group mb-3">
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  placeholder="USERNAME"
                  aria-label="Username"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="visually-hidden">Contraseña</label>
              <div class="input-group mb-3">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="PASSWORD"
                  aria-label="Password"
                />
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <div>
                <input type="checkbox" id="remember" name="remember" />
                <label for="remember">Remember</label>
              </div>
              <a href="#" class="forgot-password">Forgot Password?</a>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary custom-btn mt-3">
                LOGIN
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
