<div class="container-fluid custom-container">
  <div class="row justify-content-center min-vh-100">
    <div class="col-md-4">
      <div *ngIf="!authService.isLoggedIn()" class="card mt-5 custom-card">
        <div class="card-body">
          <h3 class="card-title text-center">Iniciar sesión</h3>
          <form>
            <div class="form-group">
              <label for="userName" class="visually-hidden">Usuario</label>
              <div class="input-group mb-3">
                <input
                  name="userName"
                  [(ngModel)]="username"
                  type="text"
                  id="userName"
                  class="form-control"
                  placeholder="Usuario"
                  aria-label="Usuario"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="visually-hidden">Contraseña</label>
              <div class="input-group mb-3">
                <input
                  name="password"
                  [(ngModel)]="password"
                  type="password"
                  id="password"
                  class="form-control"
                  placeholder="Contraseña"
                  aria-label="Contraseña"
                />
              </div>
            </div>
            <div class="form-group d-flex justify-content-between">
              <div>
                <input type="checkbox" id="remember" name="remember" />
                <label for="remember">Recordar</label>
              </div>
              <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-primary custom-btn mt-3"
                (click)="onLogin()"
              >
                Iniciar Sesión
              </button>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <p>
                ¿No tienes cuenta?
                <a routerLink="../register" class="link-info"
                  >¡Regístrate aquí!</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="authService.isLoggedIn()" class="card mt-5 custom-card">
        <div class="card-body text-center">
          <h3>¡Bienvenido, {{authService.getUsername()}}!</h3>
          <span class="btn btn-primary btn-lg" routerLink="/group">¡EMPIEZA TU AVENTURA!</span>
        </div>
      </div>
    </div>
  </div>
</div>
