<div class="container mt-5">
    <div class="header-image-container text-center">
      <h2>VERDEVENTURA</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis est purus, vel pellentesque orci aliquam vel. Ut accumsan, odio sit amet mollis venenatis, risus lacus hendrerit turpis, eget luctus nunc leo sed dui. Suspendisse in risus quis metus lobortis hendrerit porta at ipsum. Cras a feugiat libero, non feugiat eros. Pellentesque pretium dui ut nisi accumsan placerat. Curabitur ut elementum nulla, ut tempus erat. Pellentesque porta mauris et risus tincidunt eleifend. Morbi et mollis ante. Aenean sed turpis mattis, mattis dui ullamcorper, vulputate magna.
      </p>
    </div>
  </div>