<div class="container-fluid home-header">
  <div id="header" class="overlay" [ngClass]="getBackgroundClass()">
    <div class="buttons">
      <button (click)="selectSlide(1)" [class.selected]="selectedSlide === 1">
        1
      </button>
      <button (click)="selectSlide(2)" [class.selected]="selectedSlide === 2">
        2
      </button>
      <button (click)="selectSlide(3)" [class.selected]="selectedSlide === 3">
        3
      </button>
    </div>
  </div>
</div>

<div id="contenido" class="container-fluid content-container d-flex flex-row">
  <div
    *ngIf="selectedSlide === 1"
    [ngClass]="animationClass"
    class="view content custom-view flex-fill"
    id="view1"
  >
    <h2>VERDEVENTURA</h2>
    <p>
      El objetivo principal de verdeVentura es fomentar una cultura de
      sostenibilidad y responsabilidad ambiental a través de la gamificación. La
      plataforma está diseñada para involucrar a los usuarios en actividades que
      promuevan los Objetivos de Desarrollo Sostenible (ODS), incentivando
      cambios positivos en sus comportamientos y hábitos diarios. Al ofrecer
      retos sostenibles y objetivos puntuables, verdeVentura busca educar,
      motivar e inspirar a las personas a tomar acciones concretas que
      beneficien tanto al medio ambiente como a la sociedad.
    </p>
    <p>
      Una de las metas clave de verdeVentura es aumentar la concienciación sobre
      la importancia de los ODS y cómo cada individuo puede contribuir a su
      cumplimiento. Mediante la participación en retos, los usuarios aprenden
      sobre prácticas sostenibles y la relevancia de cada objetivo, desde la
      reducción de residuos y el uso eficiente de recursos hasta la promoción de
      la igualdad y el bienestar social. Esta educación práctica y experiencial
      es esencial para internalizar los valores sostenibles y hacerlos parte
      integral de la vida cotidiana de los usuarios.
    </p>
    <p>
      Además, verdeVentura se propone crear una comunidad activa y comprometida
      con la sostenibilidad. Al formar grupos y competir en un ranking, los
      usuarios no solo se motivan a sí mismos, sino que también inspiran a otros
      a unirse a la causa. Este sentido de comunidad y colaboración es
      fundamental para generar un movimiento amplio y eficaz hacia un futuro más
      sostenible.
    </p>
    <p>
      Otro objetivo crucial de verdeVentura es demostrar que la sostenibilidad
      puede ser divertida y gratificante. Al incorporar elementos de juego, como
      la acumulación de puntos y la competencia amistosa, la plataforma
      transforma tareas que de otro modo podrían parecer abrumadoras en
      actividades atractivas y desafiantes. Esto no solo aumenta la
      participación, sino que también ayuda a mantener el interés y el
      compromiso a largo plazo.
    </p>
  </div>

  <div
    *ngIf="selectedSlide === 2"
    [ngClass]="animationClass"
    class="view content custom-view flex-fill"
    id="view2"
  >
    <h1 id="title">FUNDADORES</h1>
    <div class="row">
      <div class="col">
        <h3>Alexandre Román Díaz</h3>
        <img src="https://placehold.co/400x400" alt="placeholder" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima at ex
          officia neque ipsa, adipisci laborum.
        </p>
        <div class="button-group">
          <a
            href="https://www.linkedin.com/in/alexandre-roman-diaz/"
            class="btn btn-primary btn-lg"
            target="_blank"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a
            href="https://github.com/AchillesD9-Alex"
            class="btn btn-primary btn-lg"
            target="_blank"
          >
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
      <div class="col">
        <h3>Aurora Socorro Ruiz</h3>
        <img src="https://placehold.co/400x400" alt="placeholder" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima at ex
          officia neque ipsa, adipisci laborum.
        </p>
        <div class="button-group">
          <a
            href="https://www.linkedin.com/in/aurora-socorro/"
            class="btn btn-primary btn-lg"
            target="_blank"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a
            href="https://github.com/Anatagora"
            class="btn btn-primary btn-lg"
            target="_blank"
          >
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
      <div class="col">
        <h3>Jose Ramón Ruiz Aguilar</h3>
        <img src="https://placehold.co/400x400" alt="placeholder" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima at ex
          officia neque ipsa, adipisci laborum.
        </p>
        <div class="button-group">
          <a
            href="https://www.linkedin.com/in/jose-ramon-ruiz-aguilar/"
            class="btn btn-primary btn-lg"
            target="_blank"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a
            href="https://github.com/Jowser97"
            class="btn btn-primary btn-lg"
            target="_blank"
          >
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="selectedSlide === 3"
    [ngClass]="animationClass"
    class="view content custom-view flex-fill"
    id="view3"
  >
    <h2>¿QUÉ ES VERDEVENTURA?</h2>
    <p>
      VerdeVentura es una innovadora plataforma social basada en la
      gamificación, diseñada para promover valores y actividades alineadas con
      los Objetivos de Desarrollo Sostenible (ODS). La plataforma ofrece un
      espacio dinámico y atractivo donde los usuarios pueden participar en retos
      y cumplir objetivos sostenibles, todo dentro de un marco de tiempo
      específico. Estos retos, cuidadosamente diseñados, no solo fomentan la
      concienciación sobre la sostenibilidad, sino que también motivan a los
      participantes a adoptar prácticas responsables y ecológicas en su vida
      diaria.
    </p>
    <p>
      El funcionamiento de verdeVentura se basa en la formación de grupos de
      usuarios que compiten entre sí en un ranking. Cada grupo trabaja en
      conjunto para completar los retos propuestos, acumulando puntos en función
      de su desempeño. Esta estructura competitiva no solo incentiva la
      participación activa, sino que también crea un sentido de comunidad y
      colaboración entre los participantes, quienes comparten un objetivo común:
      contribuir al bienestar del planeta.
    </p>
    <p>
      Al finalizar el plazo de cada reto, los puntos obtenidos por los grupos
      determinan su posición en el ranking. Esta clasificación no solo refleja
      el compromiso y esfuerzo de los usuarios, sino que también sirve como una
      herramienta de motivación para futuros retos, ya que los participantes
      buscan mejorar su rendimiento y alcanzar posiciones más altas en el
      ranking.
    </p>
    <p>
      VerdeVentura va más allá de ser una simple aplicación de gamificación; es
      una herramienta educativa y transformadora que impulsa a sus usuarios a
      ser agentes de cambio. Al involucrar a las personas en actividades
      concretas y medibles, la plataforma ayuda a internalizar la importancia de
      los ODS y a poner en práctica acciones sostenibles que pueden tener un
      impacto positivo y duradero en el medio ambiente y la sociedad.
    </p>
  </div>
</div>
