<div class="container-fluid home-header">
    <div class="overlay">
        <div class="buttons">
            <button>Vista 1</button>
            <button>Vista 2</button>
            <button>Vista 3</button>
        </div>
    </div>
</div>
<div id="view1" class="view content">
    <h2>VERDEVENTURA - Vista 1</h2>
    <p>
        Contenido de la Vista 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
    </p>
</div>
<div id="view2" class="view content">
    <h2>VERDEVENTURA - Vista 2</h2>
    <p>
        Contenido de la Vista 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
    </p>
</div>
<div id="view3" class="view content">
    <h2>VERDEVENTURA - Vista 3</h2>
    <p>
        Contenido de la Vista 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit...
    </p>
</div>