.container-fluid {
  width: 100%;
  padding: 0;
}

.home-header {
  height: 45vh; /* Ajusta la altura según sea necesario */
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  border-radius: 8px;
}

h1 {
  color: #4caf50; /* Color del texto */
  font-weight: bold;
}

.background-slide-1 {
  background-image: url('/assets/fondohome1.jpeg'); /* Ruta de la imagen para el slide 1 */
}

.background-slide-2 {
  background-image: url('/assets/fondohome2.jpeg'); /* Ruta de la imagen para el slide 2 */
}

.background-slide-3 {
  background-image: url('/assets/fondohome3.jpeg'); /* Ruta de la imagen para el slide 3 */
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  background-color: #78a890 !important;
  border-color: #78a890 !important;
  color: white !important;
  border: none;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button.selected {
  background-color: #547766 !important;
  border-color: #547766  !important;
}

.buttons button:hover {
  background-color: #547766 !important;
  border-color: #547766  !important; 
}

.content {
  padding: 20px;
  text-align: center;
}

.custom-view {
  background-color: white; /* Fondo blanco */
  padding: 20px; /* Espacio alrededor del contenido */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de tarjeta */
  text-align: center; /* Texto centrado */
  margin: 20px auto; /* Centrar el contenedor horizontalmente y agregar margen */
  width: 100%; /* Ancho máximo del contenedor */
}

.custom-view h2 {
  color: #4caf50; /* Color del texto */
  font-weight: bold;
}

.custom-view p {
  color: #333; /* Color del texto */
}

#view2 p {
  text-align: center;
}

#title {
  margin-bottom: 25px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.button-group a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  border-radius: 8px;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
}

