<div class="container-fluid no-padding">
    <div class="row no-margin">
      <!-- Información del Usuario -->
      <div class="col-md-4 no-margin">
        <div class="p-3 bg-light custom-card no-margin">
          <div class="text-center">
            <img src="https://via.placeholder.com/300" alt="User Avatar" class="img-fluid rounded-circle mb-3">
  
            <h5>USERNAME</h5>
          </div>
          <p>Mis puntos: xxx verdecitos</p>
          <p>Tipo grupo: público</p>
          <p>Tamaño del grupo: 10</p>
          <p>ID grupo: xxxxx</p>
          <div class="form-group">
            <label for="groupLink">link:</label>
            <input type="text" id="groupLink" class="form-control" placeholder="https:// link del grupo">
          </div>
          <div class="form-group">
            <label for="groupPass">pass:</label>
            <input type="text" id="groupPass" class="form-control" placeholder="Escriba aquí...">
          </div>
          <button type="button" class="btn btn-primary custom-btn mt-3">SALIR DEL GRUPO</button>
          <p class="mt-3 text-center"><a href="#">Ayuda</a></p>
        </div>
      </div>
      <!-- Información del Grupo -->
      <div class="col-md-8 no-margin">
        <div class="p-3 bg-light custom-card no-margin">
          <h3 class="text-center">MI GRUPO</h3>
          <div class="row">
            <!-- Miembros del Grupo -->
            <div class="col-md-6">
              <div class="p-3 bg-light custom-card">
                <h5>MIEMBROS</h5>
                <div class="table-container">
                  <div class="table-row table-header">
                    <div class="table-cell">NOMBRE USUARIO</div>
                    <div class="table-cell">PUNTOS</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell">Aurora Socorro</div>
                    <div class="table-cell">980</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell">Jose Ramón Ruiz</div>
                    <div class="table-cell">809</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell">Alexandre Roman</div>
                    <div class="table-cell">1023</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell">Marc Esteve</div>
                    <div class="table-cell">630</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell">Toni Galera</div>
                    <div class="table-cell">630</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell">Santos Santisimo</div>
                    <div class="table-cell">630</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell">..........</div>
                    <div class="table-cell">---</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell">..........</div>
                    <div class="table-cell">---</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell">..........</div>
                    <div class="table-cell">---</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Información del Grupo -->
            <div class="col-md-6">
              <div class="p-3 bg-light custom-card">
                <h5>PUNTOS TOTALES GRUPO</h5>
                <p>xxxx puntos</p>
                <h5>RANKING MIEMBROS</h5>
                <div class="progress-bar-container">
                  <div class="progress-bar">
                    <span style="width: 60%;">Aurora Socorro - 980</span>
                  </div>
                  <div class="progress-bar">
                    <span style="width: 50%;">Jose Ramón Ruiz - 809</span>
                  </div>
                  <div class="progress-bar">
                    <span style="width: 70%;">Alexandre Roman - 1023</span>
                  </div>
                  <div class="progress-bar">
                    <span style="width: 30%;">Marc Esteve - 630</span>
                  </div>
                  <div class="progress-bar">
                    <span style="width: 30%;">Toni Galera - 630</span>
                  </div>
                  <div class="progress-bar">
                    <span style="width: 30%;">Santos Santisimo - 630</span>
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                  <button type="button" class="btn btn-primary custom-btn">DESHACER GRUPO</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  