<div class="container-fluid no-padding" *ngIf="grupoActual">
  <div class="row no-margin">
    <!-- Información del Usuario -->
    <div class="col-md-4 no-margin">
      <div class="p-3 bg-light custom-card no-margin">
        <div class="text-center">
          <img src="https://via.placeholder.com/300" alt="User Avatar" class="img-fluid rounded-circle mb-3">
          <h5>{{ currentUser?.username }}</h5>
        </div>
        <p>Mis puntos: {{ currentUser?.points }} verdecitos</p>
        <p>Tipo grupo: {{ grupoActual.data.public ? 'público' : 'privado' }}</p>
        <p>Tamaño del grupo: {{ grupoActual.data.size }}</p>
        <p>ID grupo: {{ grupoActual.data._id_grupos_VV }}</p>
        <div class="form-group" *ngIf="!grupoActual.data.public">
          <label for="groupPass">Contraseña del grupo:</label>
          <input type="text" id="groupPass" class="form-control" [value]="grupoActual.data.public ? 'GRUPO PUBLICO' : grupoActual.data.groupPass" readonly>
        </div>
        <button type="button" class="btn btn-primary custom-btn mt-3" (click)="leaveGroup()">SALIR DEL GRUPO</button>
      </div>
    </div>
    <!-- Información del Grupo -->
    <div class="col-md-8 no-margin">
      <div class="p-3 bg-light custom-card no-margin">
        <h3 class="text-center">MI GRUPO</h3>
        <div class="row">
          <!-- Miembros del Grupo -->
          <div class="col-md-6">
            <div class="p-3 bg-light custom-card">
              <h5>MIEMBROS</h5>
              <div class="table-container">
                <div class="table-row table-header">
                  <div class="table-cell">NOMBRE USUARIO</div>
                  <div class="table-cell">PUNTOS</div>
                </div>
                <div *ngFor="let member of grupoActual.data.members?.split(', ') || []">
                  <div class="table-row">
                    <div class="table-cell">{{ member }}</div>
                    <div class="table-cell">{{ getUserPoints(member) }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Información del Grupo -->
          <div class="col-md-6">
            <div class="p-3 bg-light custom-card">
              <h5>PUNTOS TOTALES GRUPO</h5>
              <p>{{ getTotalGroupPoints() }} puntos</p>
              <h5>RANKING MIEMBROS</h5>
              <div class="progress-bar-container">
                <div *ngFor="let member of getRanking()" class="progress-bar">
                  <span [style.width.%]="getUserPoints(member) / getMaxPoints() * 100">
                    {{ member }} - {{ getUserPoints(member) }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>