
  
  .container-fluid {
    width: 100%;
    padding: 0;
  }
  
  .custom-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los botones */
  .group-button {
    background-color: #a3d8d4;
    color: black;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .group-button:hover {
    background-color: #91cfc9;
  }
  
  .button-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1  {
    color: #4caf50; /* Color del texto */
    font-weight: bold;
  }
  