<div class="container text-center mt-5 p-5 custom-container">
    <h1>GRUPOS</h1>
    <h3>
      Hazte tu experiencia algo mas divertida, ¡creando o uniendote a un grupo ya existente!
    </h3>
    <div class="d-flex justify-content-center mt-4">
      <div class="button-group mx-3">
        <button class="btn btn-primary group-button" (click)="navigateTo('creargrupo')">CREAR GRUPO</button>
      </div>
      <div class="button-group mx-3">
        <button class="btn btn-primary group-button" (click)="navigateTo('buscargrupo')">BUSCAR GRUPO</button>
      </div>
      <div *ngIf="userHasGroup" class="button-group mx-3">
        <button class="btn btn-primary group-button" (click)="navigateTo('migrupo')">MI GRUPO</button>
      </div>
  </div>
  