<div class="container text-center mt-5 p-5 custom-container">
    <h1>GRUPOS</h1>
    <p>
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="d-flex justify-content-center mt-4">
      <div class="button-group mx-3">
        <button class="btn btn-primary group-button" routerLink="/creargrupo">CREAR GRUPO</button>
      </div>
      <div class="button-group mx-3">
        <button class="btn btn-primary group-button" routerLink="/buscargrupo">BUSCAR GRUPO</button>
      </div>
      <div class="button-group mx-3">
        <button class="btn btn-primary group-button" routerLink="/migrupo">MI GRUPO</button>
      </div>
    </div>
  </div>
  