<div class="main-content p-3 bg-light rounded shadow">
    <h2>Quincena xxxxx</h2>
    <h4>Fechas xxxxx</h4>

    <!-- Card 1 -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="placeholder.png" alt="Image 1" class="img-fluid" />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">RETO xxxxx</h5>
            <p class="card-text">DESCRIPCION DE RETO</p>
            <button class="btn btn-primary">Button</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="placeholder.png" alt="Image 2" class="img-fluid" />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">RETO 2</h5>
            <p class="card-text">
              Body text for whatever you’d like to say. Add main takeaway
              points, quotes, anecdotes, or even a very very short story.
            </p>
            <button class="btn btn-primary">Button</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="placeholder.png" alt="Image 3" class="img-fluid" />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">RETO 3</h5>
            <p class="card-text">
              Body text for whatever you’d like to say. Add main takeaway
              points, quotes, anecdotes, or even a very very short story.
            </p>
            <button class="btn btn-primary">Button</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Card 4 -->
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
          <img src="placeholder.png" alt="Image 3" class="img-fluid" />
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">RETO 4</h5>
            <p class="card-text">
              Body text for whatever you’d like to say. Add main takeaway
              points, quotes, anecdotes, or even a very very short story.
            </p>
            <button class="btn btn-primary">Button</button>
          </div>
        </div>
      </div>
    </div>
  </div>